[Unit]
Description=Sawtooth TP Validator Registry
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-tp_validator_registry
ExecStart=/usr/bin/tp_validator_registry $SAWTOOTH_TP_VALIDATOR_REGISTRY_ARGS

[Install]
WantedBy=multi-user.target
