# Exclude IDE and Editor files
/.idea/
*.sublime*

# Exclude vagrant and config files in the tools/ directory
/tools/.vagrant/
/tools/conf-local.sh
/tools/vagrant.local.yaml
/tools/cache/
/tools/ubuntu-xenial-16.04-cloudimg-console.log

# Everything else
/build/

/cli/build/
/cli/sawtooth_cli/protobuf/
/cli/**/__pycache__/

/core/sawtooth_core.egg-info/
/core_transactions/config/sawtooth_config/protobuf/
/core_transactions/**/__pycache__/

/extensions/arcade/sawtooth_arcade.egg-info/

/integration/**/__pycache__/

/manage/**/__pycache__/

/poet/sawtooth_poet/protobuf
/poet/**/__pycache__/

/rest_api/build/
/rest_api/sawtooth_rest_api/protobuf/
/rest_api/**/__pycache__/

/sdk/python/build/
/sdk/python/sawtooth_sdk/protobuf/
/sdk/python/**/__pycache__/
/sdk/examples/sawtooth_xo/**/__pycache__/
/sdk/examples/intkey_python/**/__pycache__/

/signing/build/
/signing/sawtooth_signing.egg-info/
/signing/**/__pycache__/

/validator/build/
/validator/sawtooth_validator.egg-info/
/validator/sawtooth_validator/protobuf/
/validator/**/__pycache__/
