recursive-include journal *.py
recursive-include ledger *.py
include journal/consensus/poet0/poet_enclave_simulator/*
include txnserver/*.py
include etc/txnvalidator.js.example
include etc/systemd/sawtooth-validator.service
include etc/default/sawtooth-validator
