[Unit]
Description=Sawtooth Intkey TP Go
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-intkey-tp-go
ExecStart=/usr/bin/intkey-tp-go $SAWTOOTH_INTKEY_TP_GO_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
