{
  "version" : 1,
  "disable_existing_loggers" : false,
  "formatters": {
        "simple": {
            "format":"[%(asctime)s %(levelname)s %(name)s] %(message)s",
            "datefmt":"%H:%M:%S"
        }
  },
  "handlers" : {
    "txnclient" : {
      "class" : "logging.StreamHandler",
      "level" : "WARNING",
      "formatter" : "simple",
      "stream" : "ext://sys.stdout"
    }
  },
  "root": {
    "level" : "INFO",
    "handlers" : ["txnclient"]
  }
}
