*.pyc
*.egg-info
dist
build
.coverage
htmlcov
nose2-junit.xml
_ECDSARecoverModule.pyd
_ECDSARecoverModule.so
_poet_enclave_simulator.pyd
_poet_enclave_simulator.so
deps/

journal/consensus/poet*/poet_enclave_simulator/build
journal/consensus/poet*/poet_enclave_simulator/_*
journal/consensus/poet*/poet_enclave_simulator/*.so
journal/consensus/poet*/poet_enclave_simulator/*.pyd
journal/consensus/poet*/poet_enclave_simulator/poet_enclave_simulator.py
journal/consensus/poet*/poet_enclave_simulator/poet_enclave_simulator_wrap.cpp

gossip/ECDSA/build
gossip/ECDSA/*.so
gossip/ECDSA/*.pyd
gossip/ECDSA/_*
gossip/ECDSA/ECDSARecoverModule.py
gossip/ECDSA/ECDSARecoverModule.pyc
gossip/ECDSA/ECDSARecoverModule_wrap.cpp
gossip/ECDSA/ECDSAPubKeyRecovery.*

node_modules
