{
    "HttpPort" : {{ sawtooth_validator_http_port }},
    "Host" : "{{ sawtooth_validator_host }}",
    "Port" : {{ sawtooth_validator_port }},
    "NodeName" : "{{ sawtooth_validator_node_name }}",
    "LedgerURL" : "{{ sawtooth_validator_ledger_url }}",

    ## pick the ledger type
    "LedgerType" : "{{ sawtooth_validator_ledger_type }}",

    ## configuration of the ledger wait time certificate
    "TargetWaitTime" : {{ sawtooth_validator_target_wait_time }},
    "InitialWaitTime" : {{ sawtooth_validator_initial_wait_time }},
    "CertificateSampleLength" : {{ sawtooth_validator_certificate_sample_length }},

    ## configuration of the block sizes
    "MinTransactionsPerBlock" : {{ sawtooth_validator_min_transactions_per_block }},
    "MaxTransactionsPerBlock" : {{ sawtooth_validator_max_transactions_per_block }},

    ## configuration of the topology
    "TopologyAlgorithm" : "{{ sawtooth_validator_topology_algorithm }}",
    "TargetConnectivity" : {{ sawtooth_validator_target_connectivity }},

    ## configuration of the network flow control
    "NetworkFlowRate" : {{ sawtooth_validator_network_flow_rate }},
    "NetworkBurstRate" : {{ sawtooth_validator_network_burst_rate }},
    "NetworkDelayRange" : [ {{ sawtooth_validator_delay_range|join(', ') }} ],
    "UseFixedDelay" : {{ sawtooth_validator_use_fixed_delay }},

    ## configuration of logging
    "LogLevel" : "{{ sawtooth_validator_log_level }}",
    "LogFile"  : "{{ sawtooth_validator_log_file }}",

    ## configuration of the transaction families to include
    ## in the validator
    "TransactionFamilies" : [
{% for family in sawtooth_validator_transaction_families %}
        "{{family}}"{% if not loop.last %},{% endif %}

{% endfor %}
    ],

    ## administration node, the only node identifier from which
    ## we will accept shutdown messages
    "AdministrationNode" : "{{ sawtooth_validator_administration_node }}",

    ## key file
    "KeyFile" : "{{ sawtooth_validator_key_file }}"
}
