[Unit]
Description=Start txnvalidator
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/sawtooth-validator
ExecStart=/usr/bin/txnvalidator $TXNVALIDATOR_OPTIONS

[Install]
WantedBy=multi-user.target
