[Unit]
Description=Sawtooth REST API
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-rest-api
ExecStart=/usr/bin/sawtooth-rest-api $SAWTOOTH_REST_API_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
