#
# Sawtooth Lake -- REST API Configuration
#

# The port and host  for the api to run on
#   bind = ["127.0.0.1:8800"]

# The url to connect to a running Validator
#   connect = "tcp://localhost:40000"

# Seconds to wait for a validator response
#   timeout = 300
