#
# Sawtooth Lake -- REST API Configuration
#

# The port and host for the api to run on
#   bind = ["127.0.0.1:8080"]

# The url to connect to a running Validator
#   connect = "tcp://localhost:4004"

# Seconds to wait for a validator response
#   timeout = 300

# The host and port for Open TSDB database used for metrics
# opentsdb_url = ""

# The name of the database used for storing metrics
# opentsdb_db = ""

# opentsdb_username = ""
# opentsdb_password = ""
