{
  "version" : 1,
  "disable_existing_loggers" : false,

  "formatters": {
        "simple": {
            "format":"[%(asctime)s %(name)s %(levelname)s] %(message)s",
            "datefmt":"%H:%M:%S"
        }
    },

  "handlers" : {
    "mktplace" : {
      "class" : "logging.FileHandler",
      "level" : "DEBUG",
      "formatter" : "simple",
      "filename": "test"
    }
  },

  "root": {
    "level" : "INFO",
    "handlers" : ["mktplace"]
  }
}
