[Unit]
Description=Sawtooth TP Block Info
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-block-info-tp
ExecStart=/usr/bin/block-info-tp $SAWTOOTH_BLOCK_INFO_TP_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
