[Unit]
Description=Sawtooth TP Config
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-intkey-tp-python
ExecStart=/usr/bin/intkey-tp-python $SAWTOOTH_INTKEY_TP_PYTHON_ARGS

[Install]
WantedBy=multi-user.target
