[Unit]
Description=Sawtooth TP Config
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-tp_intkey_python
ExecStart=/usr/bin/tp_intkey_python $SAWTOOTH_TP_INTKEY_PYTHON_ARGS

[Install]
WantedBy=multi-user.target
