#
# Sawtooth Supplychain Example -- State Delta Subscriber Configuration
#

# This file should exist in the defined config directory and allows
# supplychain-sds to be configured without the need for command line options.

# The following is a possible example.

# The URL to connect to a running Validator
bind = "localhost:8000"

# A supplychain-sds process must connect to a Postgres database instance.
# The following settings configure the database access.

# The name of a Postgres Database:
database_name = "supplychain"

# The host of a Postgres instance:
database_host = "localhost"

# The port of a Postgres instance:
database_port = 5432

# The user authorized to access the database:
database_user = "supplychain"

# The password for the authorized user:
database_password = "example"
