version = 1
disable_existing_loggers = false

[formatters.simple]
format = "[%(asctime)s.%(msecs)03d [%(threadName)s] %(module)s %(levelname)s] %(message)s"
datefmt = "%H:%M:%S"

[handlers.debug]
level = "DEBUG"
formatter = "simple"
class = "logging.FileHandler"
filename = "example-debug.log"

[handlers.interconnect]
level = "DEBUG"
formatter = "simple"
class = "logging.handlers.RotatingFileHandler"
filename = "example-interconnect.log"
maxBytes = 5000000
backupCount=20

[handlers.error]
level = "ERROR"
formatter = "simple"
class = "logging.FileHandler"
filename = "example-error.log"

[loggers."sawtooth_supplychain.subscriber.subscriber"]
level = "DEBUG"
propagate = true
handlers = [ "subscriber" ]

[root]
level = "DEBUG"
handlers = [ "error", "debug"]
