
# Valid options "ubuntu/trusty64", "boxcutter/ubuntu1604", "bento/opensuse-13.2"
# export VAGRANT_BOX="ubuntu/xenial64"

# Whether to enable or disable forwarding of the vagrant ports to host. These
# commonly conflict if vagrant is started more than once.
# export VAGRANT_FORWARD_PORTS=1

# The amount of memory for the VM
# export VAGRANT_MEMORY=2048

# The number of CPUs for the VM
# export VAGRANT_CPUS=2

# Setting INSTALL_SPHINX to yes will add over 700MB to the vagrant image.
# This installs the dependencies to build sphinx docs and make PDF targets.
#export INSTALL_SPHINX=yes

# Automatically set you the project HOME env variables and add them to the PYTHONPATH
export SETUP_SAWTOOTH_ENVIRONMENT=yes
#export SETUP_SAWTOOTH_ENVIRONMENT=no

# Add the project bin dirs to the PATH
#export SETUP_SAWTOOTH_PATH=yes
export SETUP_SAWTOOTH_PATH=no

# Custom configuration plugins you want to run to install optional components
# export PLUGINS="build_ubuntu_deps install_docker install_ubuntu_deps install_sphinx"
