*.log*
*.out
*.xml
build
data
screenlog*
MANIFEST
dist
*.pem
*.wif
*.addr
*.egg-info
.idea
doc/_build
.coverage
htmlcov
Test*.tar.gz

_ECDSARecoverModule.pyd
_ECDSARecoverModule.so
sawtooth_signing/ECDSA/build
sawtooth_signing/ECDSA/*.so
sawtooth_signing/ECDSA/*.pyd
sawtooth_signing/ECDSA/_*
sawtooth_signing/ECDSA/ECDSARecoverModule.py
sawtooth_signing/ECDSA/ECDSARecoverModule.pyc
sawtooth_signing/ECDSA/ECDSARecoverModule_wrap.cpp
sawtooth_signing/ECDSA/ECDSAPubKeyRecovery.*

deps
